<div class="row">
   <% @posts.each do |post| %>
   <div class="container s9 m8 center">
    <div class="card">
      <div class="card-image img-size">
        <img src="<%= post.capa %>">
        <%= link_to post.titulo, post, class: 'card-title'%>
      </div>
      <div class="card-content">
        <p><%= post.resumo %></p>
      </div>
      <div class="card-action">
        <%= link_to 'READ MORE', post_path(post) %>
      </div>
    </div>
  </div>
  <% end %>
</div>