
.titulo{
    font-weight: bold;
    color: #00CAE5 !important;
    padding-bottom: 15px;
}

.card-botao{
    font-weight: bold;
}

img {
    width: 100% ;
    height: auto;
}

.margem{
    margin-bottom: 20px;
}

.justificar{
    text-align: justify;
    text-justify: inter-word;
}
.logo-size {
  width: 215px;
  height: 115px;
}

.cor-titulo{
    font-weight: bold !important;
    color: #FAFC94 !important;
}

.fonte-menu{
    font-family: 'Allerta Stencil', sans-serif;
    margin-top: 18px;
    margin-bottom: 18px;
}


.fonte-menu2{
    font-family: 'Allerta Stencil', sans-serif;
}

.push-menu{
    padding-left: 10px;
    color:black;
}

@media (min-width: 1px) and (max-width: 999px) {
    .post-margin {
        margin-right: 20px;
        margin-left: 20px;
    }

}

@media (min-width: 1000px) {
    .post-margin {
    padding-top:20px;
     margin-right: 75px;
     margin-left: 75px;
 }

}

@media  (min-width: 1px) and (max-width: 193px) {
    .fonte-card{
        font-size: 10px !important;
    }
}

@media  (min-width: 194px) and (max-width: 399px) {
    .fonte-card{
        font-size: 14px !important;
    }
}


@media  (max-width: 599px) and (min-width: 400px) {
    .fonte-card{
        font-size: 20px !important;
    }
}

@media  (max-width: 1000px) and (min-width: 600px) {
    .fonte-card{
        font-size: 27px !important;
    }
}


.bordas{
    border-top-style: solid;
    border-top-color: #B4C5E4;
    border-top-width: 2px;

    border-bottom-style: solid;
    border-bottom-color: #B4C5E4;
    border-bottom-width: 2px;
}


body {
    font-family: 'PT Serif', serif;
    background: #f1f1f1;
}

.card {
 background-color: white;
 padding-bottom: 20px;
}


/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;

}

