.post-margin {
	margin: 0 auto;
    margin-right: 75px;
    margin-left: 75px;
}

.titulo{
    font-weight: bold;
    color: #00CAE5;
}
.pic{
    margin-top: 30px;
    margin-bottom: 30px;
}

img {
    width: 100%;
    height: auto;
}

.justificar{
    text-align: justify;
    text-justify: inter-word;
}
.logo-size {
  width: 215px;
  height: 115px;
}

.fonte-menu{
    font-family: 'Allerta Stencil', sans-serif;
    margin-top: 18px;
    margin-bottom: 18px;
}

.fonte-card{
    font-size: 20px !important;
}

.fonte-menu2{
    font-family: 'Allerta Stencil', sans-serif;
}

.push-menu{
    padding-left: 30px;
    color:black;
}

.push-menu2{
    padding-left: 40px;
    color:black;
} 

.float-left-child {
  float: left;
  padding-left: 50px;
}

.bordas{
    border-top-style: solid;
    border-top-color: #B4C5E4;
    border-top-width: 2px;

    border-bottom-style: solid;
    border-bottom-color: #B4C5E4;
    border-bottom-width: 2px;
}
* {
    box-sizing: border-box;
} 

/* Add a gray background color with some padding */
body {
    font-family: Arial;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    background: white;
    font-family: 'Montserrat', sans-serif;
}

.card-menu{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
    margin-bottom: 10px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 75%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
     margin-bottom: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 10px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;

}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}
