<footer class="page-footer white black-text">
  <div class="container">
    <div class="row push2">
      <div class="col s12 fonte-menu2">
        <a class="push-menu2" href="#"> INÍCIO </a>
        <a class="push-menu2" href="#" > SOBRE </a>
        <a class="push-menu2" href="#" > LINK3 </a>
        <a class="push-menu2" href="#" > LINK4 </a>
        <a class="push-menu2" href="#" > LINK5 </a>
      </div>
    </div>
    <div class="row push">
      <div class="col s12">
        <ul>
          <li><a href="#" data-tooltip="teste" data-position="top" title="Twitter" class="float-left-child"><i class="fab fa-twitter fa-lg" style="color:black;" aria-hidden="true"></i></a></li>
          <li><a href="#" data-tooltip="teste" data-position="top" title="Facebook" class="float-left-child"><i class="fab fa-facebook-square fa-lg" style="color:black;"  aria-hidden="true"></i></a></li>
          <li><a href="#" data-tooltip="teste" data-position="top" title="Telegram" class="float-left-child"><i class="fab fa-telegram fa-lg" style="color:black;"  aria-hidden="true"></i></a></li>
          <li><a href="#" data-tooltip="teste" data-position="top" title="Google" class="float-left-child"><i class="fab fa-google fa-lg" style="color:black;"  aria-hidden="true"></i></a></li>
          <li><a href="#" data-tooltip="teste" data-position="top" title="linkedin" class="float-left-child"><i class="fab fa-linkedin fa-lg" style="color:black;" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey lighten-5">
    <div class="container black-text">
      © 2018 por Eu mesmo.
      <!--<a class="black-text text-lighten-4 right" href="#!">More Links</a> -->
    </div>
  </div>
</div>
</footer>