<footer class="page-footer white black-text">
  <div class="container">
    <div class="row">
      <div class="col s12 fonte-menu2 center">
        <a class="push-menu" href="#"> INÍCIO </a>
        <a class="push-menu" href="#" > SOBRE </a>
        <a class="push-menu" href="#" > LINK3 </a>
        <a class="push-menu" href="#" > LINK4 </a>
        <a class="push-menu" href="#" > LINK5 </a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <ul>
          <a href="#" data-tooltip="teste" data-position="top" title="Twitter" class="center push-menu"><i class="fab fa-twitter fa-lg" style="color:black;" aria-hidden="true"></i></a>
          <a href="#" data-tooltip="teste" data-position="top" title="Facebook" class="center  push-menu "><i class="fab fa-facebook-square fa-lg" style="color:black;"  aria-hidden="true"></i></a>
          <a href="#" data-tooltip="teste" data-position="top" title="Telegram" class="center push-menu"><i class="fab fa-telegram fa-lg" style="color:black;"  aria-hidden="true"></i></a>
          <a href="#" data-tooltip="teste" data-position="top" title="Google" class="center  push-menu"><i class="fab fa-google fa-lg" style="color:black;"  aria-hidden="true"></i></a>
          <a href="#" data-tooltip="teste" data-position="top" title="Linkedin" class="center push-menu"><i class="fab fa-linkedin fa-lg" style="color:black;"  aria-hidden="true"></i></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey lighten-5">
    <div class="container black-text">
      © 2018 por Eu mesmo.
  
    </div>
  </div>
</div>
</footer>
<!--<a class="black-text text-lighten-4 right" href="#!">More Links</a> -->